<br>
<br>
<br>

<div class="container" [ngStyle]="getStyle()">

  <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif;"> <b>Students</b><span style="Color: rgb(79, 17, 95); text-align: center;"><b> Marks</b></span> </h3>

  <br>

  <table class="table table-striped">

    <thead>

      <tr style="text-align: center; font-family: 'Times New Roman', Times, serif;">

        <th>NAME</th>

        <th>EMAIL</th>

        <th>MARKS (out of 100) </th>

        <th>PASS/ FAIL </th>

      </tr>

    </thead>

    <tbody style="text-align: center; font-family: 'Times New Roman', Times, serif;">

      
      <tr *ngFor="let Students of studentList">

        <td>{{ Students.Name }}</td>

        <td>{{ Students.Email }}</td>

        <td [ngClass]="getMarkColor(Students.Mark)">{{ Students.Mark }}</td>

        <td>

          <span *ngIf="Students.Mark >= 50" class="pass-badge">PASS</span>

          <span *ngIf="Students.Mark < 50" class="fail-badge">FAIL</span>

        </td>

      </tr>

    </tbody>

  </table>

</div>